---
import Layout from '../layouts/Layout.astro';
import BuilderIntro from '../components/BuilderIntro.astro';
import Toolbar from '../components/Toolbar.astro';
import PageHeader from '../components/PageHeader.astro';
import ModalClear from '../components/ModalClear.astro';
import ModalBlockAction from '../components/ModalBlockAction.astro';
import ModalLawNumber from '../components/ModalLawNumber.astro';
---

<Layout title="Συντάκτης Νόμου – Legisleture Builder">
  <div id="nomos-builder" class="nb-builder-page">
    <BuilderIntro />
    <Toolbar />

    <div class="nb-canvas">
      <div class="nb-paper" id="nb-paper">
        <PageHeader />
      </div>
    </div>

    <ModalClear />
    <ModalBlockAction />
    <ModalLawNumber />
  </div>
</Layout>

<script>
  import '../scripts/builder';
</script>
