---
---
<section class="nb-builder-intro">
  <p class="govuk-caption-l">Legisleture Builder</p>
  <h1 class="govuk-heading-xl">Συντάκτης Νόμου</h1>
  <p class="govuk-body">Δημιουργήστε, οργανώστε και εκτυπώστε νομοθετικό κείμενο με gov.uk style.</p>
</section>
