---
interface Props {
  label: string;
  id: string;
  type?: string;
}
const { label, id, type = 'text' } = Astro.props;
---
<div class="nb-modal-field">
  <label class="govuk-label" for={id}>{label}</label>
  <input class="govuk-input" id={id} type={type} />
</div>
