---
import Modal from './Modal.astro';
---
<Modal id="nb-clear-modal" titleId="nb-clear-modal-title" title="Διαγραφή εγγράφου">
  <p class="govuk-body">Θέλετε να διαγραφεί ολόκληρο το έγγραφο;</p>
  <div class="nb-modal-actions">
    <button class="govuk-button govuk-button--secondary" id="nb-clear-confirm" type="button">Διαγραφή</button>
    <button class="govuk-button govuk-button--secondary" id="nb-clear-cancel" type="button">Ακύρωση</button>
  </div>
</Modal>
