---
import Modal from './Modal.astro';
---
<Modal id="nb-block-action-modal" titleId="nb-block-action-modal-title" title="Ενέργειες μπλοκ">
  <p class="govuk-body" id="nb-block-action-modal-label">Επιλέξτε ενέργεια για αυτό το μπλοκ.</p>
  <div class="nb-modal-actions">
    <button class="govuk-button" id="nb-block-edit" type="button">Επεξεργασία</button>
    <button class="govuk-button govuk-button--secondary" id="nb-block-up" type="button">Μετακίνηση επάνω</button>
    <button class="govuk-button govuk-button--secondary" id="nb-block-down" type="button">Μετακίνηση κάτω</button>
    <button class="govuk-button govuk-button--secondary" id="nb-block-delete" type="button">Διαγραφή</button>
  </div>
  <div class="nb-modal-actions nb-modal-actions--bottom">
    <button class="govuk-button govuk-button--secondary" id="nb-block-action-cancel" type="button">Ακύρωση</button>
  </div>
</Modal>
