---
---
<header class="nb-page-header">
  <div class="nb-page-header__coat">
    <img src="/Coat_of_arms_of_Greece.svg" alt="Εθνόσημο της Ελληνικής Δημοκρατίας" class="nb-coat-of-arms" />
  </div>
</header>
