---
import nav from '../data/navigation.json';
---
<footer class="govuk-footer">
  <div class="govuk-width-container">
    <div class="govuk-footer__navigation">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
          <h2 class="govuk-footer__heading govuk-heading-m">Υπηρεσίες και πληροφορίες</h2>
          <ul class="govuk-footer__list govuk-footer__list--columns-2">
            {nav.services.map(item => (
              <li class="govuk-footer__list-item">
                <a class="govuk-footer__link" href={item.href}>{item.text}</a>
              </li>
            ))}
          </ul>
        </div>
        <div class="govuk-grid-column-one-third-from-desktop">
          <h2 class="govuk-footer__heading govuk-heading-m">Δραστηριότητα</h2>
          <ul class="govuk-footer__list">
            {nav.government.map(item => (
              <li class="govuk-footer__list-item">
                <a class="govuk-footer__link" href={item.href}>{item.text}</a>
              </li>
            ))}
          </ul>
        </div>
      </div>
    </div>
    <hr class="govuk-footer__section-break" />
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <ul class="govuk-footer__inline-list">
          <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="/help/">Βοήθεια</a></li>
          <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="/help/privacy-notice">Ειδοποίηση απορρήτου</a></li>
          <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="/help/cookies">Cookies</a></li>
          <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="/help/accessibility-statement">Δήλωση προσβασιμότητας</a></li>
          <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="/contact">Επικοινωνία</a></li>
          <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="/help/terms-conditions">Όροι χρήσης</a></li>
          <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="/e-government-services">Ηλεκτρονικές Υπηρεσίες Διακυβέρνησης</a></li>
        </ul>
        <div class="footer-bottom">
          <span class="footer-copyright">©</span>
          <img src="/Κυβέρνηση_της_Ελλάδας.svg" alt="" aria-hidden="true" class="footer-bottom__logo-img" width="200" height="60" decoding="async" />
          <span class="govuk-footer__licence-description">Όλο το περιεχόμενο διατίθεται υπό την <a class="govuk-footer__link" href="https://creativecommons.org/licenses/by/4.0/" rel="license">Creative Commons Attribution 4.0 (CC BY 4.0)</a>, εκτός αν αναφέρεται διαφορετικά.</span>
        </div>
      </div>
    </div>
  </div>
</footer>

<style>
  .govuk-footer__navigation {
    margin-bottom: 30px;
  }

  .footer-bottom {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-top: 1rem;
    flex-wrap: wrap;
  }

  .footer-copyright {
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
    color: #505a5f;
  }

  .footer-bottom__logo-img {
    height: 60px;
    width: auto;
  }
</style>
