---
---
<div class="nb-toolbar" role="toolbar" aria-label="Εργαλειοθήκη">
  <div class="nb-toolbar-blocks">
    <button class="nb-tool" data-type="arithmos-nomou">Αριθμός Νόμου</button>
    <button class="nb-tool" data-type="prooimio">Προοίμιο</button>
    <button class="nb-tool" data-type="aitiologiki">Αιτιολογική Σκέψη</button>
    <span class="nb-sep"></span>
    <button class="nb-tool" data-type="meros">Μέρος</button>
    <button class="nb-tool" data-type="kefalaio">Κεφάλαιο</button>
    <button class="nb-tool" data-type="tmima">Τμήμα</button>
    <button class="nb-tool" data-type="arthro">Άρθρο</button>
    <span class="nb-sep"></span>
    <button class="nb-tool" data-type="ermineytiki">Ερμηνευτική Δήλωση</button>
    <button class="nb-tool" data-type="metabatikes">Μεταβατικές Διατάξεις</button>
    <button class="nb-tool" data-type="telikes">Τελικές Διατάξεις</button>
  </div>
  <div class="nb-toolbar-actions">
    <button class="nb-tool nb-tool--print" id="btn-print">⎙ Εκτύπωση</button>
    <button class="nb-tool nb-tool--clear" id="btn-clear">Εκκαθάριση</button>
  </div>
</div>
